@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 33 100% 50%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 289 68% 45%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 289 68% 37%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 289 68% 37%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 289 68% 20%;
    --input: 235 50% 30%;
    --ring: 33 100% 50%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 33 100% 50%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 289 68% 45%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 289 68% 37%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 289 68% 37%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 289 68% 20%;
    --input: 235 50% 30%;
    --ring: 33 100% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }
  .dark body {
    background-color: #0b0918;
    background-image: radial-gradient(at 27% 37%, hsla(273,81%,63%,0.15) 0px, transparent 50%), radial-gradient(at 77% 30%, hsla(202,68%,73%,0.15) 0px, transparent 50%), radial-gradient(at 50% 100%, hsla(303,81%,63%,0.15) 0px, transparent 50%);
  }
}

@keyframes count-up {
  from {
    --num: 0;
  }
}

.animate-count-up {
  animation: count-up 1s ease-out forwards;
  counter-reset: num var(--num);
}

.animate-count-up::after {
  content: counter(num);
}

@keyframes draw-circle {
  to {
    stroke-dashoffset: 0;
  }
}

.glow {
    filter: drop-shadow(0 0 10px hsl(var(--primary)));
}

.progress-circle {
  animation: draw-circle 1.5s ease-out forwards;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: hsl(var(--primary)); }
}

.typewriter-text {
  overflow: hidden;
  border-right: .15em solid hsl(var(--primary));
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
  animation:
    typewriter 2.5s steps(30, end) forwards,
    blink-caret .75s step-end infinite;
}

.typewriter-multiline p {
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid hsl(var(--primary));
    width: 0;
    animation: typewriter 2s steps(40, end);
    animation-fill-mode: forwards;
}

.typewriter-multiline p:nth-child(2) {
    animation-delay: 2s;
}
.typewriter-multiline p:nth-child(3) {
    animation-delay: 4s;
}
.typewriter-multiline p:nth-child(4) {
    animation-delay: 6s;
    border-right: none;
}